.stApp > header {
    background-color: transparent;
}

/* Apply to the entire app */
.stApp {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, #2C1B18 3%, #4E342E 38%, #5C4033 68%, #3B2F2F 98%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

/* Sidebar Styling */
[data-testid="stSidebar"] {
    background: #D7CCC8;
    color: #5D4037;
}

/* Sidebar Text */
[data-testid="stSidebar"] * {
    color: #5D4037 !important;
}

/* Title Styling */
h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #FAEBD7; 
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    animation: fadeIn 2s ease-in-out;
}

/* Subtext */
p {
    font-size: 1.3rem;
    color: #E0C1A5; 
    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
    line-height: 1.6;
}

/* Animation for Subtext */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Box  */
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 10px;
    border: 3px solid #C49A6C;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0; 
    animation: drawBox 1.5s ease-in-out forwards;
    margin: auto; 
    position: relative;  
    top: 30px; 
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Text animation */
.animated-text {
    font-size: 1.5rem;
    color: #FAEBD7;
    font-weight: bold;
    opacity: 0;
    animation: fadeInText 2s ease-in-out forwards 1.5s;
}

/* Animation for box */
@keyframes drawBox {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        width: 500px;
        height: 150px;
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}